@font-face {
  font-family: @font-name-icons;
  src:url('@{font-path}/icomoon.eot?-m7lbrj');
  src:url('@{font-path}/icomoon.eot?#iefix-m7lbrj') format('embedded-opentype'),
  url('@{font-path}/icomoon.woff?-m7lbrj') format('woff'),
  url('@{font-path}/icomoon.ttf?-m7lbrj') format('truetype'),
  url('@{font-path}/icomoon.svg?-m7lbrj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@icon-logo: "\e608";
@icon-cross: "\e609";
@icon-user: "\e60a";
@icon-comment: "\e60b";
@icon-search: "\e60c";
@icon-camera: "\e600";
@icon-palette: "\e601";
@icon-bag: "\e602";
@icon-airplane: "\e603";
@icon-calendar: "\e60d";
@icon-suitcase: "\e604";
@icon-plus: "\e605";
@icon-video: "\e606";
@icon-music: "\e607";
@icon-angle-left: "\e60e";
@icon-angle-down: "\e60f";
@icon-angle-up: "\e610";
@icon-angle-right: "\e611";
@icon-arrow-right: "\e612";
@icon-twitter: "\e613";
@icon-facebook: "\e614";
@icon-googleplus: "\e615";
@icon-pinterest: "\e616";
