#header{
  background: @header_background;
  color:#fff;
  font: 400 20px @font-name-titles;
  text-transform: uppercase;
  line-height: @header_height;
  padding:0 @header_height/3;

  a{
    color: inherit;
    text-decoration: inherit;
  }

  .logo{


    position: relative;
    padding-left: 40px;
    strong{
      font-weight: 700;
    }
    &:before{
      color: @header_logo;
      display: block;
      position: absolute;
      left: 0px;
      font: 21px  @font-name-icons;
      content: @icon-logo;
      height: 100%;
      vertical-align: middle;
      line-height: @header_height; //TODO: Fix the font and get rid of this correction
    }
  }
  .menu{
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    li{
      float: left;
      font: 700 14px @font-name-titles;
      padding: 0 30px;
      display: inline-block;
      height: @header_height;
      line-height: inherit;
      border-left:1px solid #2e2e2e;
      color:@header_buttons;
      transition:color 0.4s;
      cursor: pointer;
      &:hover{
        color:#fff;
      }
      &:before{
        vertical-align: middle;
        font: normal 24px @font-name-icons;
      }
      &.pressed{
        color: #fff;
        background: linear-gradient(#1b1b1b,#232323);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.23);
        border-left-color: transparent;
        &+li{
          border-left-color: transparent;
        }
      }
    }
    .button-share{
      display: none;
    }
    .button-search:before{
      content: "\e60c";
    }
    .button-user:before{
      content: "\e60a";
    }
  }
}

#share_diag{
  display: none;
  padding: 0;
  z-index: 60010;
  background: #fff;
  position:absolute;
  right: 0;
  width:200px;
  color: #000;
  border:1px solid @share_border_outer;
  border-top:none;
  box-shadow: 5px 5px rgba(0,0,0,0.2);
  font:700 13px @font-name-titles;
  li {
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid @share_border_inner;
    &:last-child{
      border-bottom: none;
    }
    &:before{
      box-sizing: border-box;
      display: inline-block;
      padding-top: 12px;
      border-right:1px solid @share_border_inner;
      width: 44px;
      text-align: center;
      vertical-align: top;
      line-height: 440px;
      font: normal 18px @font-name-icons;
      margin-right: 17px;
      height: 100%;
    }
  }
}

.share_button(@name,@color,@char){
  .share-@{name}{
    &:before{
      color:@color;
      content:@char;
    }
    &:hover:before, &:hover{
      background:@color;
      color: #fff;
    }
  }
}

.share_button(facebook,@share_facebook,"\e614");
.share_button(twitter,@share_twitter,"\e613");
.share_button(google,@share_google,"\e615");
.share_button(pinterest,@share_pinterest,"\e616");
