html,body{
  height: 100%;
}

#header{
  z-index: 60001;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: @header_height;
}

#sidebar{
  z-index: 60000;
  position: fixed;
  top: @header_height;
  bottom: 0;
  left: 0;
  width: @sidebar_width;
  height: 100%;
}

#content{
  position: absolute;
  top: @header_height;
  left: @sidebar_width;
  bottom: 0;
  right: 0;
}

#main{
  position: relative;
  min-height:100%;
}