.responsive-width(@from,@to,@code){
  @media
    (min-width: @from) and (max-width: @to),
    (min-device-width: @from) and (max-device-width: @to)
  {
    @code();
  }

}

.responsive-height(@to,@code){
  @media (max-height: @to), (max-device-height: @to){
    @code();
  }
}

.responsive-width(@to,@code){

  @media (max-width: @to), (max-device-width: @to){
    @code();
  }

}

.responsive-phone(@code){
  .responsive-width(@responsive-phone,{
    @code();
  });
}