body{
  min-width: @responsive-phone - 20px;
}

.responsive-height(@responsive-height,{

  #sidebar{
    li {
      height: @sidebar_width / 2;
      line-height: @sidebar_width / 2;

      &:before {
        line-height: @sidebar_width / 2;
      }
    }
  }

});

.responsive-width(@responsive-phone,@responsive-midsized,{
  #tiles{
  .tile{
    .text{
    }
    .image {
      &:before {
        height: 24px;
        line-height: 24px;
        padding: 10px 20px;
        border: 4px solid;
        left: 20%;
        right: 20%;
        font-size:15px;
      }

      &:after {
        width: 20px;
        height: 48px !important;
        line-height: 48px;

        padding-right: 15px;
        border-right: 4px solid;
      }
    }
  }}



});

.responsive-width(@responsive-midsized,{
  .single-article .article-body .text .paragraphs{
      -moz-column-count: 1;
      -moz-column-gap: 0;
      -webkit-column-count: 1;
      -webkit-column-gap: 0;
  }
});

.responsive-width(@responsive-mini,{
  .single-article .article-body{
    &, .text{
      display: block;
    }
    .text{
      padding-left: 30px;
    }
    .meta{
      width: 100%;
      margin-bottom: 2em;
    }
  }
  .disqus-block{
    margin:30px;
  }
});

.responsive-width(@responsive-phone,@responsive-mini,{
  .single-article .article-body .meta{
    display: table;
    table-layout: fixed;

    div{
      vertical-align: middle;
      text-align: center;
      display: table-cell;
      padding: 0;
      border:none;
    }

  }
});

.phone-visible{
  display: none;
}

.responsive-phone({
  .phone-visible{
    display: block !important;
  }
  #header{
    position: static;
  }
  .single-article{
    margin-right: 30px;
    .article-body {
      .text{
        padding: 0;
      }
      .meta{
        width: 100%;

        &, div{
          display: block;
        }

        div{
          margin:0;
          text-align: left;
        }
      }
    }
  }

  #article-sidebar{
    display: none;
  }

  #content{
    position: static;
  }

  #sidebar{
    position: static;
    width: 100%;
    background: #EEE;
    box-shadow: inset 0 -5px 5px -5px;
    #sidebar-show{
      text-align: center;
      padding: 1em;
    }
    ul{
      display: none;
      &.shown{
        display: block;
      }
    }
    li{
      &, &:hover{
        width: 100%;
        overflow: hidden;
      };
      &:before{
        display: none;
      }
      &:hover{
        color: #fff !important;
      }
      border-bottom: none;
      color: #000 !important;
      text-align: center;
      display: inline-block;
      &.sb-settings{
        display: none;
      }

      line-height: normal;
      box-shadow: none !important;
      padding: 1em 0;
      height: auto;
    }
  }

});