.run_code(@code) when not (@code = NULL){
  @code();
}

// The mixin generates sidebar button

.sidebar_button(@name,@color,@glyph:"\e602",@code:NULL){
  &.sb-@{name}{
    &:before{
      color:@color;
      content:@glyph;
    }
    color:transparent;
    &:hover{
      &:before{
        color:#fff;
      }
      border-bottom-color: @color;
      background: @color;
    }
    .run_code(@code);
  }
}

#sidebar{
  cursor: pointer;
  background: @sidebar_background;
  border-right:1px solid @sidebar_border;
  box-sizing: border-box;
  user-select: none;
  li{
    font:700 14px @font-name-titles;
    height: @sidebar_width;
    border-bottom: 1px solid @sidebar_border;
    line-height: @sidebar_width;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: -0.4pt;
    color: #fff;
    transition: all 0s;


    &:before{
      font:20px @font-name-icons;
      content: "\e602";
      line-height: @sidebar_width;
      display: inline;
      vertical-align: middle;
      padding-right: 1em;
      margin-left: 1.2em;
    }

    .sidebar_button(graphic,@cat_graphic,"\e601");
    .sidebar_button(music,@cat_music,"\e607");
    .sidebar_button(photo,@cat_photo,"\e600");
    .sidebar_button(cinema,@cat_cinema,"\e606");
    .sidebar_button(business,@cat_business,"\e604");
    .sidebar_button(travel,@cat_travel,"\e603");
    .sidebar_button(fashion,@cat_fashion,"\e602");
    .sidebar_button(more,@cat_more,"\e605",{
    &:before{
      margin-left: 18px;
      font-size:32px;
    }
    });
    .sidebar_button(settings,@settings_color,"\e617",{
      width: @sidebar_width;
      overflow: hidden;
    &:hover{
      color: @color !important;
      width: @sidebar_width;
      box-shadow: none;
      overflow: hidden;
    }
      border-top: 1px solid @sidebar_border;
      position: absolute;
      bottom:75px;
    });

    &:hover{
      transition: all 0.2s;
      color:#fff;
      width: 200px;
      overflow: visible;
      z-index: 60002;
      box-shadow: 0 2px 4px rgba(0,0,0,0.17);
    }
  }
}

#sidebar-show{
  display: none;
}