.single-article{

  margin:30px 130px 30px 30px;

  .image{
    width: 100%;
    overflow: hidden;
    max-height: 500px;
    position: relative;

    .description{
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      z-index: 50000;
      color: #fff;
      text-align: center;
      padding: 10px;
      font: bold 12px @font-name-text;
      background: rgba(red(@single_imagecaption),green(@single_imagecaption),blue(@single_imagecaption),0.9);
    }
    img{
      display: block;
      width: 100%;
    }
  }

  .article-body{
    margin-top: 30px;
    display: table;
    .meta{
      vertical-align: top;
      font: 13px @font-name-text;
      display: table-cell;
      width: 270px;
      padding-top:8px;
      padding-right: 30px;
      text-align: right;
      color:@single_meta;

      h6{
        font-weight: bold;
        color:@single_meta_title;
      }
      div{
        margin-left: 70px;
        padding: 20px 0;
        border-bottom: 1px solid @single_meta_border;
        &:last-child{
          border-bottom: none;
        }
        &:first-child{
          padding-top: 0;
        }
      }
    }

    .text{
      padding-right: 30px;
      vertical-align: top;
      display: table-cell;
      h3{
        color: @single_title_main;
        font:700 50px @font-name-titles;
        margin-bottom: 20px;
      }
      h4{
        color: @single_title_sub;
        font:400 20px @font-name-text;
        margin-bottom: 25px;
      }
      .paragraphs{
        color: @single_text;
        -moz-column-count: 2;
        -moz-column-gap: 30px;
        -webkit-column-count: 2;
        -webkit-column-gap: 30px;
        p{
          text-align: justify;
          font: 400 14px @font-name-text;
          margin-bottom: 1.5em;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .image{
          width: 100%;
        }
      }
      img{
        max-width: 100%;
      }
    }

  }

}

#article-sidebar{
  top: 30px + @header_height;
  right: 30px;
  width: @sidebar_width;
  position: fixed;
  border: 1px solid @sidebar_border;
  li{
    color: @sidebar_static;
    &:last-child{
      border-bottom:none;
    }
    border-bottom: 1px solid @sidebar_border;
    width: 100%;
    height: @sidebar_width;
    line-height: @sidebar_width;

    text-align: center;
    &:before{
      vertical-align: middle;
      font:18px @font-name-icons;
    }
  }
  .single-sidebar-button(close,@icon-cross,#000);
  .single-sidebar-button(prev,@icon-angle-left);
  .single-sidebar-button(next,@icon-angle-right);
}

.single-sidebar-button(@name,@char,@color:@sidebar_static){
  .sb-@{name}{
    &:before{
      color:@color;
      content:@char;
    }
  }
}

.disqus-block{
  margin-top:50px;
  margin-left: 300px;
}

.share-buttons{
  padding-top: 10px;
  li{
    display: inline-block;
    margin-left: 3px;
    &:before{
      font: 25px @font-name-icons;
      color: @share_facebook;
      content: @icon-facebook;
    }

    &.pinterest:before{
      color: @share_pinterest;
      content: @icon-pinterest;
    }
    &.google:before{
      color: @share_google;
      content: @icon-googleplus;
    }
    &.twitter:before{
      color: @share_twitter;
      content: @icon-twitter;
    }
  }
}