// Inner mixin (used to assign default style for tile and inside tile_category)

.tile_category_in(@color){
  .text{
    border-bottom: 5px solid @color;
  }
  .image{
    background:@color;
  }
}

.tile_category(@name,@color:@cat_more){
  &.cat-@{name} {
    .tile_category_in(@color);
  }
}

#tiles{
  text-align: center;
  padding-bottom: 30px;
  a{
    text-decoration: inherit;
    color:inherit;
  }
  .tile{
    transition: opacity 1s;
    &.unloaded{
      display:none;
      opacity: 0;
    }
    text-align: left;
    width: 470px;
    display: inline-block;
    background: #fff;
    margin: 30px 0 0 30px;
    .text{
      position: relative;
      padding:30px;
      border:1px solid @tile_border;
      border-width: 0 1px;

      color: @tile_text;
      font:normal 14px @font-name-text;

      .meta{
        color: @tile_meta;
        margin-bottom: 13px;

        div{
          display: inline-block;
        }
        .comments, .date{
          margin-right: 10px;
          &:before{
            font:16px @font-name-icons;
            margin-right: 7px;
          }
        }
        .comments:before{
          vertical-align: middle;
          content: "\e60b";
        }
        .date:before{
          font-size: 0.95em;
          content: "\e60d";
        }
      }
      h4{
        font: 700 26px @font-name-titles;
        color: @tile_titles;
        line-height: 30px;
        margin-bottom: 10px;
      }

    }

    @arrowsize: 10px;

    .image + .text{
      &:before{
        z-index: 50000;
        display: block;
        content: '';
        width: 0px;
        height: 0px;
        border: @arrowsize solid #fff;
        border-color: transparent transparent #fff transparent;
        background: transparent;
        position: absolute;
        top: -(@arrowsize*2)+2;
        left: 40px;
      }
    }

    .image{
      position: relative;
      overflow: hidden;
      max-height: 500px;

      img {
        vertical-align: bottom;
        transition: opacity 0.2s;
        max-width: 100%;
        background: url('../img/checker.gif');
      }

      /* "Read More" Hover Voodoo*/

      &:before, &:after{
        transition: opacity 0.2s;

        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 2;
        color:#fff;
      }

      &:before{
        height: 24px;
        padding: 20px 30px;
        text-align: right;
        border:4px solid;
        left:20%;
        right: 20%;
        content:'read more';
        font: 700 24px @font-name-titles;
        text-transform: uppercase;
      }

      &:after{
        font: normal 24px @font-name-icons;
        content:"\e612";
        width: 20px;
        height: 64px;
        line-height: 64px;
        left: 25%;
        padding-right: 20px;
        border-right: 4px solid;
      }

      background: @image_hover;
    }


    &:hover .image{
      &:before,&:after{
        opacity: 1;
        transition: opacity 0.5s;
      }
      img{
        transition: opacity 0.5s;
        opacity: 0.2;
      }
    }

    &.photo{
      border-bottom-color: #e76049;
    }
    .tile_category_in(@cat_more);

    .tile_category(graphic,@cat_graphic);
    .tile_category(music,@cat_music);
    .tile_category(photo,@cat_photo);
    .tile_category(cinema,@cat_cinema);
    .tile_category(business,@cat_business);
    .tile_category(travel,@cat_travel);
    .tile_category(fashion,@cat_fashion);
    .tile_category(settings,@settings_color);
    .tile_category(more,@cat_more);
  }
}

