// Fonts

@font-path: '../font/';
@font-name-icons: 'extraordinary-icons';
@font-name-titles: Monsterrat, Arial, Helvetica, sans-serif;
@font-name-text: 'Open Sans', Arial, Helvetica, sans-serif;

// Responsive sizes

@responsive-phone: 600px;
@responsive-midsized: 1440px;
@responsive-mini: 1024px;

@responsive-height: 700px;

// Colors

@header_background: #242424;
@header_buttons: #525252;
@header_logo: #e76049;

@share_buttons: #323232;
@share_border_outer: #484848;
@share_border_inner: #e7e7e7;

@share_twitter: #08b0e0;
@share_google: #ef5c5c;
@share_pinterest: #ae0a0a;
@share_facebook: #3360b2;

@tile_border: #ebebeb;
@tile_titles: #313131;
@tile_text: #626262;
@tile_meta: #9d9d9d;

@single_title_main: #313131;
@single_title_sub: #404040;
@single_text: #626262;
@single_imagecaption: #2eb398;

@single_meta_title: #313131;
@single_meta: #585858;
@single_meta_border: #e7e7e7;


@sidebar_border: #e7e7e7;
@sidebar_background: #fbfbfb;
@sidebar_static: #676767;

@image_hover: #e76049;

@cat_graphic: #14b9d6;
@cat_music: #e76049;
@cat_photo: #2eb398;
@cat_cinema: #90899c;
@cat_business: #5692b1;
@cat_travel: #f9b704;
@cat_fashion: #dd1787;
@cat_more: #e76049;

@settings_color: #585858;

// Sizes

@header_height: 78px;
@sidebar_width: 70px;